<% include partials/header %>
    <div class="container">
        <div class="text-center card bg-dark card-404 mx-auto mt-5">
            <div class="card-body">
                <span class="p-4 trim-default-text"><%= trim %></span>
                <span class="text-light"> does not exist</span>
            </div>
            <div class="card-footer">
                <p><a href="/">Create new Trim</a></p>
            </div>
        </div>
    </div>
</body> 
<% include partials/footer %>