<% include partials/header %>
  <style>
    .copy:hover {
      color: #fff;
    }
  </style>
  <div id="fb-root"></div>
  <div class="wrapper">
    <div class="container">
      <!-- TRIM LOGO -->
      <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12">
          <a href="/"> <img src="https://res.cloudinary.com/leankhan/image/upload/v1570985383/trim/trim-logo-2.png" alt="trim-logo" class="trim-logo" /></a>

          <h1 class="big-heading">Bif on Bog</h1>
          <!-- INPUT URL -->

  <% include partials/footer %>
