<% include partials/header %>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/"><img src="https://res.cloudinary.com/leankhan/image/upload/v1570985383/trim/trim-logo-2.png" alt="trim-logo" class="nav-logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="/" class="nav-links">Home</a>
                        <li class="nav-item">
                            <a href="#team" class="nav-links">Meet the team</a>
                        </li>
                        <li class="nav-item">
                            <a href="#join-us" class="nav-links">Join us</a </li> </ul> </div> </nav> </header> <h1 class="main-header">Our Platform</h1>
          <!-- ABOUT TRIM -->
          <section class="about-trim">
            <h2 class="about-bg-text sub-header">Why Trim?</h2>
            <p class="about-sm-text">Trim aims to make life eaiser for users by creating customizable short Url Links for effective and efficient Internet Surfing through Our optimized Algorithm. We offer the oppurtunity to customize your shortened
              URL links the way you see fit sharing it across different social media platforms.</p>

            <!-- TRIM FEATURES -->
            <h2 class="about-bg-text sub-header">Features</h2>
            <ul class="features">
              <i class="fas fa-cut fa-2x"></i>
              <li class="feature-item">Url shortening</li> <br>
              <i class="fas fa-cut fa-2x"></i>
              <li class="feature-item">customizable Links</li> <br>
              <i class="fas fa-cut fa-2x"></i>
              <li class="feature-item">Share links to social media</li> <br>
              <i class="fas fa-cut fa-2x"></i>
              <li class="feature-item">Count number of clicks</li> <br>
              <i class="fas fa-cut fa-2x"></i>
              <li class="feature-item">Set Link Expiry date</li>
            </ul>
          </section>

          <!-- MEET THE TEAM -->
          <section id="team" class="our-team">
            <h2 class="team-header">Meet The Team</h2>
            <p class="team-text about-sm-text">Through hardwork, focus, Determination along with sleepless nights of planning and implementation, These individuals made it posssible for us to use this platform without stress. Their dedication towards
              making internet surfing very easy
              for all, made it possible for this platform to be born.</p>

            <div class="container">
              <div class="row">
                <!-- MEMBER -->
                <div class="col-lg-4 col-md-3 col-sm-6">
                  <div class="team">
                    <div class="pic">
                      <img src="https://pbs.twimg.com/profile_images/1182688455568121856/Xws5H95V_400x400.jpg" alt="">
                    </div>
                    <div class="team-content">
                      <h3 class="title">Micah Effiong</h3>
                      <span class="post">Backend Developer</span>
                    </div>
                    <ul class="social">
                      <li><a href="https://twitter.com/micaiah_effiong" class="tw-ic mr-3" role="button"><i class="fab fa-lg fa-twitter"></i></a></li>
                </ul>
            </div>
            </div>
            <!-- END OF MEMBER -->

            <!-- MEMBER -->
            <div class="col-lg-4 col-md-3 col-sm-6">
                <div class="team">
                    <div class="pic">
                        <img src="https://res.cloudinary.com/dvbwpicno/image/upload/v1566490977/a2mccwbm3cf0fm9rfdeu.png" style="width: 120px; height: 130px;" alt="">
                    </div>
                    <div class="team-content">
                        <h3 class="title">Mohammed Ibrahim </h3>
                        <span class="post">Backend Developer</span>
                    </div>
                    <ul class="social">
                        <li><a href="https://twitter.com/Ibrahimdamy" class="tw-ic mr-3" role="button"><i class="fab fa-lg fa-twitter"></i></a></li>
                    </ul>
                </div>
            </div>
            <!-- END OF MEMBER -->

            <!-- MEMBER -->
            <div class="col-lg-4 col-md-3 col-sm-6">
                <div class="team">
                    <div class="pic">
                        <img src="https://res.cloudinary.com/goldolar/image/upload/v1569331786/quicksquare_2019729124619272.jpg" alt="">
                    </div>
                    <div class="team-content">
                        <h3 class="title">Olamide Samuel</h3>
                        <span class="post">MERN stack DEV</span>
                    </div>
                    <ul class="social">
                        <li><a class="tw-ic mr-3" role="button"><i class="fab fa-lg fa-twitter"></i></a></li>
                    </ul>
                </div>
            </div>
            <!-- END OF MEMBER -->

            <!-- MEMBER -->
            <div class="col-lg-4 col-md-3 col-sm-6">
                <div class="team">
                    <div class="pic">
                        <img src="https://res.cloudinary.com/enny/image/upload/v1571151108/IMG_20170712_124822_869_bkm3w4.jpg" style="width: 120px; height: 130px;" alt="">
                    </div>
                    <div class="team-content">
                        <h3 class="title">Medunoye Eniola</h3>
                        <span class="post">Fullstack Developer</span>
                    </div>
                    <ul class="social">
                        <li><a href="https://twitter.com/la_yhemy/" class="tw-ic mr-3" role="button"><i class="fab fa-lg fa-twitter"></i></a></li>
                    </ul>
                </div>
            </div>
            <!-- END OF MEMBER -->

            <!-- MEMBER -->
            <div class="col-lg-4 col-md-3 col-sm-6">
                <div class="team">
                    <div class="pic">
                        <img src="https://res.cloudinary.com/seyiogunjuyigbe/image/upload/v1571136484/0_1_kqz3ef.jpg" alt="">
                    </div>
                    <div class="team-content">
                        <h3 class="title">Ogunjuyigbe Seyi</h3>
                        <span class="post">Fullstack Developer</span>
                    </div>
                    <ul class="social">
                        <li><a href="https://twitter.com/seyiogunjuyigbe" class="tw-ic mr-3" role="button"><i class="fab fa-lg fa-twitter"></i></a></li>
                    </ul>
                </div>
            </div>
            <!-- END OF MEMBER -->

            <!-- MEMBER -->
            <div class="col-lg-4 col-md-3 col-sm-6">
                <div class="team">
                    <div class="pic">
                        <img src="https://res.cloudinary.com/feranmiakinlade/image/upload/v1566544753/My_dp_lx8bwu.jpg" alt="">
                    </div>
                    <div class="team-content">
                        <h3 class="title">Feranmi Akinlade</h3>
                        <span class="post">Node.JS</span>
                    </div>
                    <ul class="social">
                        <li><a href="https://twitter.com/stactech" class="tw-ic mr-3" role="button"><i class="fab fa-lg fa-twitter"></i></a></li>
                    </ul>
                </div>
            </div>
            <!-- END OF MEMBER -->

            <!-- MEMBER -->
            <div class="col-lg-4 col-md-3 col-sm-6">
                <div class="team">
                    <div class="pic">
                        <img src="https://res.cloudinary.com/normad/image/upload/v1571137139/234_813_161_6439_20190828_082309_01_n5sqkz.jpg" alt="">
                    </div>
                    <div class="team-content">
                        <h3 class="title">Korede Shonubi</h3>
                        <span class="post">Backend Developer</span>
                    </div>
                    <ul class="social">
                        <li><a href="https://twitter.com/shonubijerry" class="tw-ic mr-3" role="button"><i class="fab fa-lg fa-twitter"></i></a></li>
                    </ul>
                </div>
            </div>
            <!-- END OF MEMBER -->

            <!-- MEMBER -->
            <div class="col-lg-4 col-md-3 col-sm-6">
                <div class="team">
                    <div class="pic">
                        <img src="https://res.cloudinary.com/ezeko/image/upload/v1571137857/images/IMG-20190928-WA0071_mjg5ho.jpg" style="width: 120px; height: 130px;" alt="">
                    </div>
                    <div class="team-content">
                        <h3 class="title">Adejobi Ezekiel</h3>
                        <span class="post">Frontend developer</span>
                    </div>
                    <ul class="social">
                        <li><a href="https://twitter.com/ezeko94" class="tw-ic mr-3" role="button"><i class="fab fa-lg fa-twitter"></i></a></li>
                    </ul>
                </div>
            </div>
            <!-- END OF MEMBER -->

            <!-- MEMBER -->
            <div class="col-lg-4 col-md-3 col-sm-6">
                <div class="team">
                    <div class="pic">
                        <img src="https://pbs.twimg.com/profile_images/1168077853847707648/j3uTyFEL_400x400.jpg" alt="">
                    </div>
                    <div class="team-content">
                        <h3 class="title">Kubiat Morgan</h3>
                        <span class="post">Backend Developer</span>
                    </div>
                    <ul class="social">
                        <li><a href="https://twitter.com/_smahrt" class="tw-ic mr-3" role="button"><i class="fab fa-lg fa-twitter"></i></a></li>
                    </ul>
                </div>
            </div>
            <!-- END OF MEMBER -->

            <!-- MEMBER -->
            <div class="col-lg-4 col-md-3 col-sm-6">
                <div class="team">
                    <div class="pic">
                        <img src="https://res.cloudinary.com/gabicle/image/upload/v1566550268/Gabrielle_fu6e1a.png" alt="">
                    </div>
                    <div class="team-content">
                        <h3 class="title">Gabrielle Kurah</h3>
                        <span class="post">FullStack Developer</span>
                    </div>
                    <ul class="social">
                        <li><a href="https://twitter.com/Gabby_XLR" class="tw-ic mr-3" role="button"><i class="fab fa-lg fa-twitter"></i></a></li>
                    </ul>
                </div>
            </div>
            <!-- END OF MEMBER -->

            <!-- MEMBER -->
            <div class="col-lg-4 col-md-3 col-sm-6">
                <div class="team">
                    <div class="pic">
                        <img src="https://res.cloudinary.com/endowed/image/upload/v1571139738/umcie2uriaf08lwtedym.jpg" style="width: 120px; height: 130px;" alt="">
                    </div>
                    <div class="team-content">
                        <h3 class="title">Ayomikun Emmanuel</h3>
                        <span class="post">Backend Developer</span>
                    </div>
                    <ul class="social">
                        <li><a href="https://twitter.com/hayycreationz" class="tw-ic mr-3" role="button"><i class="fab fa-lg fa-twitter"></i></a></li>
                    </ul>
                </div>
            </div>
            <!-- END OF MEMBER -->

            <!-- MEMBER -->
            <div class="col-lg-4 col-md-3 col-sm-6">
                <div class="team">
                    <div class="pic">
                        <img src="https://res.cloudinary.com/rexdavinci/image/upload/v1567307411/Abdulhafiz.jpg" style="width: 120px; height: 130px;" alt="">
                    </div>
                    <div class="team-content">
                        <h3 class="title">Abdulhafiz Ahmed</h3>
                        <span class="post">Backend Developer</span>
                    </div>
                    <ul class="social">
                        <li><a href="https://twitter.com/abdhafizahmed" class="tw-ic mr-3" role="button"><i class="fab fa-lg fa-twitter"></i></a></li>
                    </ul>
                </div>
            </div>
            <!-- END OF MEMBER -->

            <!-- MEMBER -->
            <div class="col-lg-4 col-md-3 col-sm-6">
                <div class="team">
                    <div class="pic">
                        <img src="https://res.cloudinary.com/busola/image/upload/v1568640962/bee.jpg" alt="">
                    </div>
                    <div class="team-content">
                        <h3 class="title">Codedcoder</h3>
                        <span class="post">Backend Developer</span>
                    </div>
                    <ul class="social">
                        <li><a href="https://twitter.com/codedcoder" class="tw-ic mr-3" role="button"><i class="fab fa-lg fa-twitter"></i></a></li>
                    </ul>
                </div>
            </div>
            <!-- END OF MEMBER -->

            <!-- MEMBER -->
            <div class="col-lg-4 col-md-3 col-sm-6">
                <div class="team">
                    <div class="pic">
                        <img src="https://res.cloudinary.com/dhpzvfror/image/upload/v1571254350/DSC_4574.jpg" alt="">
                    </div>
                    <div class="team-content">
                        <h3 class="title">Godfred Asamoah</h3>
                        <span class="post">Backend Developer</span>
                    </div>
                    <ul class="social">
                        <li> <a href="https://twitter.com/gfredev" class="tw-ic mr-3" role="button"><i class="fab fa-lg fa-twitter"></i></a></li>
                    </ul>
                </div>
            </div>
            <!-- END OF MEMBER -->

            <!-- MEMBER -->
            <div class="col-lg-4 col-md-3 col-sm-6">
                <div class="team">
                    <div class="pic">
                        <img src="https://res.cloudinary.com/vectormike/image/upload/v1571242418/me.jpg" style="width: 120px; height: 130px;" alt="">
                    </div>
                    <div class="team-content">
                        <h3 class="title">Victor Jonah</h3>
                        <span class="post">Backend Developer</span>
                    </div>
                    <ul class="social">
                        <li><a href="https://twitter.com/Vectormike" class="tw-ic mr-3" role="button"><i class="fab fa-lg fa-twitter"></i></a></li>
                    </ul>
                </div>
            </div>
            <!-- END OF MEMBER -->

            <!-- MEMBER -->
            <div class="col-lg-4 col-md-3 col-sm-6">
                <div class="team">
                    <div class="pic">
                        <img src="https://res.cloudinary.com/macgee/image/upload/v1566667292/samples/people/20190713_161901_tqyonq.jpg" style="width: 120px; height: 130px;" alt="">
                    </div>
                    <div class="team-content">
                        <h3 class="title">Gift Omodu</h3>
                        <span class="post">Backend Developer</span>
                    </div>
                    <ul class="social">
                        <li><a href="https://twitter.com/Mac_O_Gee" class="tw-ic mr-3" role="button"><i class="fab fa-lg fa-twitter"></i></a></li>
                    </ul>
                </div>
            </div>
            <!-- END OF MEMBER -->

            <!-- MEMBER -->
            <div class="col-lg-4 col-md-3 col-sm-6">
                <div class="team">
                    <div class="pic">
                        <img src="https://res.cloudinary.com/ibefx/image/upload/v1568020189/personal/ibebugwu_chukwuemeka_byblud.png" alt="">
                    </div>
                    <div class="team-content">
                        <h3 class="title">Ibebugwu Chukwuemeka</h3>
                        <span class="post">Backend Developer</span>
                    </div>
                    <ul class="social">
                        <li><a href="https://twitter.com/emex4gman" class="tw-ic mr-3" role="button"><i class="fab fa-lg fa-twitter"></i></a></li>
                    </ul>
                </div>
            </div>
            <!-- END OF MEMBER -->

            <!-- MEMBER -->
            <div class="col-lg-4 col-md-3 col-sm-6">
                <div class="team">
                    <div class="pic">
                        <img src="https://res.cloudinary.com/fego/image/upload/v1566565664/hng/fegggie_scbhf4.jpg" alt="">
                    </div>
                    <div class="team-content">
                        <h3 class="title">Edafe Oghenefego</h3>
                        <span class="post">Backend Developer</span>
                    </div>
                    <ul class="social">
                        <li><a href="https://twitter.com/realFego" class="tw-ic mr-3" role="button"><i class="fab fa-lg fa-twitter"></i></a></li>
                    </ul>
                </div>
            </div>
            <!-- END OF MEMBER -->

            <!-- MEMBER -->
            <div class="col-lg-4 col-md-3 col-sm-6">
                <div class="team">
                    <div class="pic">
                        <img src="https://res.cloudinary.com/cavdy/image/upload/v1571245491/Photo_on_01-08-2019_at_12.24_PM_y8xfqk.jpg" style="width: 120px; height: 130px;" alt="">
                    </div>
                    <div class="team-content">
                        <h3 class="title">Ikenna Franklin</h3>
                        <span class="post">Backend Developer</span>
                    </div>
                    <ul class="social">
                        <li><a href="https://twitter.com/ghostcodar" class="tw-ic mr-3" role="button"><i class="fab fa-lg fa-twitter"></i></a></li>
                    </ul>
                </div>
            </div>
            <!-- END OF MEMBER -->

            <!-- MEMBER -->
            <div class="col-lg-4 col-md-3 col-sm-6">
                <div class="team">
                    <div class="pic">
                        <img src="https://res.cloudinary.com/ojbash/image/upload/v1571318478/FizzBuzz.jpg" style="width: 120px; height: 130px;" alt="">
                    </div>
                    <div class="team-content">
                        <h3 class="title">Henry Ezedinma</h3>
                        <span class="post">DevOps</span>
                    </div>
                    <ul class="social">
                        <li><a href="https://twitter.com/10xGeek" class="tw-ic mr-3" role="button"><i class="fab fa-lg fa-twitter"></i></a></li>
                    </ul>
                </div>
            </div>
            <!-- END OF MEMBER -->

            <!-- MEMBER -->
            <div class="col-lg-4 col-md-3 col-sm-6">
                <div class="team">
                    <div class="pic">
                        <img src="https://res.cloudinary.com/leankhan/image/upload/v1571514409/trim/photo5864127838498697520.jpg" style="width: 120px; height: 130px;" alt="">
                    </div>
                    <div class="team-content">
                        <h3 class="title">Emmanuel Segun-Lean</h3>
                        <span class="post">Backend Developer</span>
                    </div>
                    <ul class="social">
                        <li><a href="https://twitter.com/LeanKhan_" class="tw-ic mr-3" role="button"><i class="fab fa-lg fa-twitter"></i></a></li>
                    </ul>
                </div>
            </div>
            <!-- END OF MEMBER -->

            <!-- MEMBER -->
            <div class="col-lg-4 col-md-3 col-sm-6">
                <div class="team">
                    <div class="pic">
                        <img src="https://res.cloudinary.com/greathassan/image/upload/v1566653246/samples/STARTNG/hassan_onike_fb_fjgou2.jpg" style="width: 120px; height: 130px;" alt="">
                    </div>
                    <div class="team-content">
                        <h3 class="title">Hassan Onike</h3>
                        <span class="post">Frontend Developer</span>
                    </div>
                    <ul class="social">
                        <li><a href="https://twitter.com/greathassan_" class="tw-ic mr-3" role="button"><i class="fab fa-lg fa-twitter"></i></a></li>
                    </ul>
                </div>
            </div>
            <!-- END OF MEMBER -->

            <!-- MEMBER -->
            <div class="col-lg-4 col-md-3 col-sm-6">
                <div class="team">
                    <div class="pic">
                        <img src="https://res.cloudinary.com/israelamandi/image/upload/v1571599547/WhatsApp_Image_2019-06-01_at_6.51.52_PM_itfevk.jpg" style="width: 120px; height: 130px;" alt="">
                    </div>
                    <div class="team-content">
                        <h3 class="title">Israel Amandi</h3>
                        <span class="post">Project Manager</span>
                    </div>
                    <ul class="social">
                        <li><a href="https://twitter.com/Israelamandi" class="tw-ic mr-3" role="button"><i class="fab fa-lg fa-twitter"></i></a></li>
                    </ul>
                </div>
            </div>
            <!-- END OF MEMBER -->


            <!-- MEMBER -->
            <!-- <div class="col-lg-4 col-md-3 col-sm-6">
          <div class="team">
            <div class="pic">
              <img src="" alt="">
            </div>
            <div class="team-content">
              <h3 class="title">Hassan Onike</h3>
              <span class="post">Backend Developer</span>
            </div>
            <ul class="social">
            <li><a href="" class="tw-ic mr-3" role="button"><i class="fab fa-lg fa-twitter"></i></a></li>
            </ul>
          </div>
        </div> -->
            <!-- END OF MEMBER -->

            <!-- MEMBER -->
            <!-- <div class="col-lg-4 col-md-3 col-sm-6">
          <div class="team">
            <div class="pic">
              <img src="" alt="">
            </div>
            <div class="team-content">
              <h3 class="title">Akuagwu Philemon</h3>
              <span class="post">Backend Developer</span>
            </div>
            <ul class="social">
            <li><a href="" class="tw-ic mr-3" role="button"><i class="fab fa-lg fa-twitter"></i></a></li>
            </ul>
          </div>
        </div> -->
            <!-- END OF MEMBER -->

            <!-- MEMBER -->
            <!-- <div class="col-lg-4 col-md-3 col-sm-6">
          <div class="team">
            <div class="pic">
              <img src="" alt="">
            </div>
            <div class="team-content">
              <h3 class="title">Jo IE</h3>
              <span class="post">Backend Developer</span>
            </div>
            <ul class="social">
            <li><a href="" class="tw-ic mr-3" role="button"><i class="fab fa-lg fa-twitter"></i></a></li>
            </ul>
          </div>
        </div> -->
            <!-- END OF MEMBER -->

            <!-- MEMBER -->
            <!-- <div class="col-lg-4 col-md-3 col-sm-6">
          <div class="team">
            <div class="pic">
              <img src="" alt="">
            </div>
            <div class="team-content">
              <h3 class="title">Olayiwola Olanrewaju</h3>
              <span class="post">Backend Developer</span>
            </div>
            <ul class="social">
            <li><a href="https://twitter.com/Larrycoal" class="tw-ic mr-3" role="button"><i class="fab fa-lg fa-twitter"></i></a></li>
            </ul>
          </div>
        </div> -->
            <!-- END OF MEMBER -->

            <!-- MEMBER -->
            <!-- <div class="col-lg-4 col-md-3 col-sm-6">
          <div class="team">
            <div class="pic">
              <img src="" alt="">
            </div>
            <div class="team-content">
              <h3 class="title">Iyara Oghenefegor</h3>
              <span class="post">Backend Developer</span>
            </div>
            <ul class="social">
            <li><a href="https://twitter.com/fergusoniyara" class="tw-ic mr-3" role="button"><i class="fab fa-lg fa-twitter"></i></a></li>
            </ul>
          </div>
        </div> -->
            <!-- END OF MEMBER -->

            <!-- MEMBER -->
            <!-- <div class="col-lg-4 col-md-3 col-sm-6">
          <div class="team">
            <div class="pic">
              <img src="" alt="">
            </div>
            <div class="team-content">
              <h3 class="title">Iyara Oghenefegor</h3>
              <span class="post">Backend Developer</span>
            </div>
            <ul class="social">
            <li><a href="https://twitter.com/fergusoniyara" class="tw-ic mr-3" role="button"><i class="fab fa-lg fa-twitter"></i></a></li>
            </ul>
          </div>
        </div> -->
            <!-- END OF MEMBER -->



            <!-- MEMBER -->
            <!-- <div class="col-lg-4 col-md-3 col-sm-6">
          <div class="team">
            <div class="pic">
              <img src="" alt="">
            </div>
            <div class="team-content">
              <h3 class="title">Emmanuel Segun-Lean</h3>
              <span class="post">Backend Developer</span>
            </div>
            <ul class="social">
            <li><a href="https://twitter.com/LeanKhan_" class="tw-ic mr-3" role="button"><i class="fab fa-lg fa-twitter"></i></a></li>
            </ul>
          </div>
        </div> -->
            <!-- END OF MEMBER -->

            </div>
            </div>
            </section>

            <Article>
                <div class="container" id="join-us">
                    <h1>Want To Join us?</h1>
                    <p>We are always on the Lookout for Talents such as Yourself,You feel you have what it takes to join our team, Contact us below</p>
                    <button class="btn btn-outline-success"> <a class="contact-link" href="https://hng.tech/become-intern"> Contact us </a> </button>

                </div>
            </Article>

            <% include partials/footer %>
