<% include partials/header %>
    <div class="about-section">
        <!-- About section -->
        <header>
            <img src="https://res.cloudinary.com/leankhan/image/upload/v1570985383/trim/trim-logo-2.png" alt="trim-logo" class="trimLogo">
            <div class="container">
                <nav class="float-right">
                    <ul>
                        <li> <a href="/">Home</a> </li>
                        <li> <a href="#team">Meet the team</a> </li>
                        <li><a href="#join-us"> Join us </a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <section id="company">
            <h1 class="text-center jumbotron" id="platform-text"> Our Platform</h1>
        </section>

        <section id="choose-us">
            <div class="container">
                <h1> Why trim?</h1>
                <p> Trim aims to make life eaiser for users by creating customizable short Url Links for effective and efficient Internet Surfing through Our optimized Algorithm. We offer the oppurtunity to customize your shortened URL links the way you see
                    fit sharing it across different social media platforms</p>
            </div>
        </section>

        <section id="features">
            <div class="container">
                <h1> Features?</h1>
                <ul>
                    <li>Url shortening</li>
                    <li> customizable Links</li>
                    <li> Share links to social media</li>
                    <li>Count number of clicks.</li>
                    <li> Set Link Expiry date</li>
                </ul>

            </div>
        </section>



        <section id="team">
            <div class="container">
                <h1>Meet The team</h1>
                <p>Through hardwork, focus, Determination along with sleepless nights of planning and implementation, These individuals made it posssible for us to use this platform without stress. Their dedication towards making internet surfing very easy
                    for all, made it possible for this platform to be born.</p>
                <div class="container">
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="team-member card">
                                            <img class="card-img-top" src="https://pbs.twimg.com/profile_images/1182688455568121856/Xws5H95V_400x400.jpg" alt="">
                                            <div class="card-body">
                                                <h5>Micah Effiong</h5>
                                                <p>Backend Developer</p>
                                                <a href="https://twitter.com/micaiah_effiong" class="tw-ic mr-3" role="button"><i class="fab fa-lg fa-twitter"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="team-member card">
                                            <img class="card-img-top img-fluid" src="https://res.cloudinary.com/dvbwpicno/image/upload/v1566490977/a2mccwbm3cf0fm9rfdeu.png" alt="">
                                            <div class="card-body" style="height:5cm">
                                                <h5 style="font-size: 18.7px;">Mohammed Ibrahim </h5>
                                                <p>Backend Developer</p>
                                                <a href="https://twitter.com/Ibrahimdamy" class="tw-ic mr-3" role="button"><i class="fab fa-lg fa-twitter"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="team-member card">
                                            <img class="card-img-top" src="https://res.cloudinary.com/goldolar/image/upload/v1569331786/quicksquare_2019729124619272.jpg" alt="">
                                            <div class="card-body">
                                                <h5>Olamide Samuel</h5>
                                                <p>MERN stack DEV</p>
                                                <a class="tw-ic mr-3" role="button"><i class="fab fa-lg fa-twitter"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="team-member card">
                                            <img class="card-img-top" src="https://res.cloudinary.com/enny/image/upload/v1571151108/IMG_20170712_124822_869_bkm3w4.jpg" alt="">
                                            <div class="card-body">
                                                <h5>Medunoye Eniola</h5>
                                                <p>Fullstack Developer</p>
                                                <a href="https://twitter.com/la_yhemy/" class="tw-ic mr-3" role="button"><i class="fab fa-lg fa-twitter"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="team-member card">
                                            <img class="card-img-top" src="https://res.cloudinary.com/seyiogunjuyigbe/image/upload/v1571136484/0_1_kqz3ef.jpg" alt="">
                                            <div class="card-body">
                                                <h5>Ogunjuyigbe Seyi</h5>
                                                <p>FullStack Developer</p>
                                                <a class="tw-ic mr-3" role="button"><i class="fab fa-lg fa-twitter"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="team-member card">
                                            <img class="card-img-top" src="https://res.cloudinary.com/feranmiakinlade/image/upload/v1566544753/My_dp_lx8bwu.jpg" alt="">
                                            <div class="card-body">
                                                <h5>Feranmi Akinlade</h5>
                                                <p>Node.JS</p>
                                                <a class="tw-ic mr-3" role="button"><i class="fab fa-lg fa-twitter"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="team-member card">
                                            <img class="card-img-top" src="https://res.cloudinary.com/normad/image/upload/v1571137139/234_813_161_6439_20190828_082309_01_n5sqkz.jpg" alt="">
                                            <div class="card-body">
                                                <h5>Korede Shonubi</h5>
                                                <p>Bug detective</p>
                                                <a href="https://twitter.com/shonubijerry" class="tw-ic mr-3" role="button"><i class="fab fa-lg fa-twitter"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="team-member card">
                                            <img class="card-img-top" src="https://res.cloudinary.com/ezeko/image/upload/v1571137857/images/IMG-20190928-WA0071_mjg5ho.jpg" alt="">
                                            <div class="card-body">
                                                <h5>Adejobi Ezekiel</h5>
                                                <p>Frontend developer</p>
                                                <a href="https://twitter.com/ezeko94" class="tw-ic mr-3" role="button"><i class="fab fa-lg fa-twitter"></i></a>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="team-member card">
                                            <img class="card-img-top" src="https://pbs.twimg.com/profile_images/1168077853847707648/j3uTyFEL_400x400.jpg" alt="">
                                            <div class="card-body">
                                                <h5>Kubiat Morgan</h5>
                                                <p>Backend Developer</p>
                                                <a href="https://twitter.com/_smahrt" class="tw-ic mr-3" role="button"><i class="fab fa-lg fa-twitter"></i></a>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-3">
                                        <div class="team-member card">
                                            <img class="card-img-top" src="https://res.cloudinary.com/gabicle/image/upload/v1566550268/Gabrielle_fu6e1a.png" alt="">
                                            <div class="card-body">
                                                <h5>Gabrielle Kurah</h5>
                                                <p>Frontend & Backend</p>
                                                <a href="https://twitter.com/Gabby_XLR" class="tw-ic mr-3" role="button"><i class="fab fa-lg fa-twitter"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="team-member card">
                                            <img class="card-img-top" src="https://res.cloudinary.com/endowed/image/upload/v1571139738/umcie2uriaf08lwtedym.jpg" alt="">
                                            <div class="card-body">
                                                <h5 style="font-size: 18.7px;">Ayomikun Emmanuel</h5>
                                                <p>Backend Developer</p>
                                                <a href="https://twitter.com/hayycreationz" class="tw-ic mr-3" role="button"><i class="fab fa-lg fa-twitter"></i></a>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-3">
                                        <div class="team-member card">
                                            <img class="card-img-top" src="https://res.cloudinary.com/rexdavinci/image/upload/v1567307411/Abdulhafiz.jpg" alt="">
                                            <div class="card-body">
                                                <h5>Abdulhafiz Ahmed</h5>
                                                <p>Backend Developer</p>
                                                <a class="tw-ic mr-3" role="button"><i class="fab fa-lg fa-twitter"></i></a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="team-member card">
                                            <img class="card-img-top" src="https://res.cloudinary.com/busola/image/upload/v1568640962/bee.jpg" alt="">
                                            <div class="card-body">
                                                <h5>Codedcoder</h5>
                                                <p>Backend Developer</p>
                                                <a href="https://twitter.com/codedcoder" class="tw-ic mr-3" role="button"><i class="fab fa-lg fa-twitter"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="team-member card">
                                            <img class="card-img-top" src="https://res.cloudinary.com/vectormike/image/upload/v1571242418/me.jpg" alt="">
                                            <div class="card-body">
                                                <h5>Victor Jonah</h5>
                                                <p>Backend Developer</p>
                                                <a href="https://twitter.com/Vectormike" class="tw-ic mr-3" role="button"><i class="fab fa-lg fa-twitter"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="team-member card">
                                            <img class="card-img-top" src="https://res.cloudinary.com/macgee/image/upload/v1566667292/samples/people/20190713_161901_tqyonq.jpg" alt="">
                                            <div class="card-body">
                                                <h5>Gift Omodu</h5>
                                                <p>Backend Developer</p>
                                                <a href="https://twitter.com/Mac_O_Gee" class="tw-ic mr-3" role="button"><i class="fab fa-lg fa-twitter"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="team-member card">
                                            <img class="card-img-top" src="https://res.cloudinary.com/ibefx/image/upload/v1568020189/personal/ibebugwu_chukwuemeka_byblud.png" alt="">
                                            <div class="card-body" style="padding-bottom:29px;">
                                                <h5>Ibebugwu Chukwuemeka</h5>
                                                <p>Backend Developer </p>
                                                <a href="https://twitter.com/emex4gman" class="tw-ic mr-3" role="button"><i class="fab fa-lg fa-twitter"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="team-member card">
                                            <img class="card-img-top" src="https://res.cloudinary.com/fego/image/upload/v1566565664/hng/fegggie_scbhf4.jpg" alt="">
                                            <div class="card-body">
                                                <h5>Edafe Oghenefego</h5>
                                                <p>Backend Developer</p>
                                                <a href="https://twitter.com/realFego" class="tw-ic mr-3" role="button"><i class="fab fa-lg fa-twitter"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="team-member card">
                                            <img class="card-img-top" src="https://res.cloudinary.com/dhpzvfror/image/upload/v1571254350/DSC_4574.jpg" alt="">
                                            <div class="card-body">
                                                <h5>Godfred Asamoah</h5>
                                                <p>Backend Developer</p>
                                                <a href="https://twitter.com/gfredev" class="tw-ic mr-3" role="button"><i class="fab fa-lg fa-twitter"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="team-member card">
                                            <img class="card-img-top" src="https://res.cloudinary.com/cavdy/image/upload/v1571245491/Photo_on_01-08-2019_at_12.24_PM_y8xfqk.jpg" alt="">
                                            <div class="card-body">
                                                <h5>Ikenna Franklin</h5>
                                                <p>Backend Developer</p>
                                                <a href="https://twitter.com/ghostcodar" class="tw-ic mr-3" role="button"><i class="fab fa-lg fa-twitter"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="col-md-3">
                                        <div class="team-member card">
                                            <img class="card-img-top" src="https://drive.google.com/open?id=1klE899aTNQcvnrprlayUHuO988v9Tqgy" alt="">
                                            <div class="card-body">
                                                <h5>Hassan Onike</h5>
                                                <p>Backend Developer</p>
                                                <a class="tw-ic mr-3" role="button"><i class="fab fa-lg fa-twitter"></i></a>
                                            </div>
                                        </div>
                                    </div> -->

                                </div>
                                <!-- <div class="row">
                                    <div class="col-md-3">
                                        <div class="team-member card">
                                            <img class="card-img-top" src="https://drive.google.com/open?id=1klE899aTNQcvnrprlayUHuO988v9Tqgy" alt="">
                                            <div class="card-body">
                                                <h5>Akuagwu Philemon</h5>
                                                <p>Backend Developer</p>
                                                <a class="tw-ic mr-3" role="button"><i class="fab fa-lg fa-twitter"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="team-member card">
                                            <img class="card-img-top" src="https://drive.google.com/open?id=1klE899aTNQcvnrprlayUHuO988v9Tqgy" alt="">
                                            <div class="card-body">
                                                <h5 style="font-size: 18.7px;">Olayiwola Olanrewaju</h5>
                                                <p>Backend Developer</p>
                                                <a class="tw-ic mr-3" role="button"><i class="fab fa-lg fa-twitter"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="team-member card">
                                            <img class="card-img-top" src="https://drive.google.com/open?id=1klE899aTNQcvnrprlayUHuO988v9Tqgy" alt="">
                                            <div class="card-body">
                                                <h5>Timothy Mayor</h5>
                                                <p>Backend Developer</p>
                                                <a class="tw-ic mr-3" role="button"><i class="fab fa-lg fa-twitter"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="team-member card">
                                            <img class="card-img-top" src="https://drive.google.com/open?id=1klE899aTNQcvnrprlayUHuO988v9Tqgy" alt="">
                                            <div class="card-body">
                                                <h5>Jo IE</h5>
                                                <p>Backend Developer</p>
                                                <a class="tw-ic mr-3" role="button"><i class="fab fa-lg fa-twitter"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <Article>
            <div class="container" id="join-us">
                <h1>Want To Join us?</h1>
                <p>We are always on the Lookout for Talents such as Yourself,You feel you have what it takes to join our team, Contact us below</p>
                <button href="https://twitter.com/shonubijerry" class="btn btn-outline-success"> Contact us </button>

            </div>
        </Article>




   
    <% include partials/footer %>
