<% include partials/header %>

<div class="error-wrapper">
  <h1 class="mb-3">Oops! Page not found.</h1>

  <img class="error-img" src="https://res.cloudinary.com/gabicle/image/upload/v1570695244/error-image_el2gxj.svg">

  <div class="mt-3">We can’t find the page you’re looking for.</div>

  <div class="mt-3">
    <a href="/" class="btn btn-primary back-btn">BACK TO TRIM</a>
  </div>
</div>