<% include partials/header %>

<div class="wrapper">
  <!-- TRIM LOGO -->
  <img src="https://res.cloudinary.com/gabicle/image/upload/v1570611925/trim_SAMPLE3-02_va4xyq.png" alt="trim-logo"
    class="trim-logo">

  <h1 class="big-heading">Shorten Your Links</h1>

  <!-- INPUT URL -->
  <form class="" action="" method="post">
    <div class="input-group mb-3">
      <input type="text" class="form-control form-control-lg ">
      <div class="input-group-append">
        <button type="submit" class=" clip-btn btn btn-success"></button>
      </div>
    </div>
  </form>

  <h5 class="small-heading">...the platform that gets all links trimmed efficiently</h5>

  <!-- LINK OVERVIEW SECTION -->

  <div class="container">
    <div class="card click-metrics">
      <table class="table table-responsive table-reflow mb-0 text-center">
        <thead>
          <tr>
            <th>clicks </th>
            <th>original url</th>
            <th>trim url</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>https://app.slack.com/client/TMR92NKM4/GP7...</td>
            <td>trim/ly</td>
            <td>
              <button type="button" class="btn btn-sm btn-outline-primary">COPY</button>
            </td>
          </tr>
          <tr>
            <th scope="row">22</th>
            <td>https://app.slack.com/client/TMR92NKM4/GP7...</td>
            <td>trim/ly</td>
            <td> <button type="button" class="btn btn-sm btn-outline-primary">COPY</button>
            </td>
          </tr>
          <tr>
            <th scope="row">13</th>
            <td>https://app.slack.com/client/TMR92NKM4/GP7...</td>
            <td>trim/ly</td>
            <td> <button type="button" class="btn btn-sm btn-outline-primary">COPY</button>
            </td>
          </tr>
          <tr>
            <th scope="row">13</th>
            <td>https://app.slack.com/client/TMR92NKM4/GP7...</td>
            <td>trim/ly</td>
            <td> <button type="button" class="btn btn-sm btn-outline-primary">COPY</button>
            </td>
          </tr>
          <tr>
            <th scope="row">13</th>
            <td>https://app.slack.com/client/TMR92NKM4/GP7...</td>
            <td>trim/ly</td>
            <td> <button type="button" class="btn btn-sm btn-outline-primary">COPY</button>
            </td>
          </tr>
          <tr>
            <th scope="row">13</th>
            <td>https://app.slack.com/client/TMR92NKM4/GP7...</td>
            <td>trim/ly</td>
            <td> <button type="button" class="btn btn-sm btn-outline-primary">COPY</button>
            </td>
          </tr>
          <tr>
            <th scope="row">13</th>
            <td>https://app.slack.com/client/TMR92NKM4/GP7...</td>
            <td>trim/ly</td>
            <td> <button type="button" class="btn btn-sm btn-outline-primary">COPY</button>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>