<!-- Footer -->
<footer>
  <div class="footer-wrapper pt-3">
    <h3 class="footer-link">
      <a href="/about">About Trim </a> &sdot; <a href="https://hng.tech/">HNG Internship</a>
    </h3>
    <p class="footer-link">
    </p>
    <a href="https://twitter.com/hnginternship"><i class="fab fa-twitter fa-2x text-light"></i></a>

    <p class="copy-text">
      A site by HNG 6 interns <br>
      &copy; 2019 Trim. All Rights Reserved.
    </p>
  </div>
  </div>
</footer>
<!-- Footer -->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
<script type="text/babel" src="/js/index.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/babel" src="/js/chart.js"></script>


<script type="text/javascript" src="https://unpkg.com/popper.js@1.15.0/dist/umd/popper.min.js"></script>
<script type="text/javascript" src="/tippy.min.js"></script>

<script type="text/javascript">
  window.twttr = (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0],
      t = window.twttr || {};
    if (d.getElementById(id)) return t;
    js = d.createElement(s);
    js.id = id;
    js.src = "https://platform.twitter.com/widgets.js";
    fjs.parentNode.insertBefore(js, fjs);

    t._e = [];
    t.ready = function(f) {
      t._e.push(f);
    };

    return t;
  }(document, "script", "twitter-wjs"));


  function closeAlert() {
    document.querySelector('#msg').style.display = 'none';
  }

  const copyToClipboard = str => {
    const el = document.createElement('textarea');
    console.log(str)
    el.value = str;
    el.setAttribute('readonly', '');
    el.style.position = 'absolute';
    el.style.left = '-9999px';
    document.body.appendChild(el);
    const selected =
      document.getSelection().rangeCount > 0 ?
      document.getSelection().getRangeAt(0) :
      false;
    el.select();
    document.execCommand('copy');
    document.body.removeChild(el);
    if (selected) {
      document.getSelection().removeAllRanges();
      document.getSelection().addRange(selected);
    }


  };
  /*Tippy Tooltip*/
  tippy('.tippy, [data-tippy-content], [data-tooltip]', {
    // flipOnUpdate: true,
    // boundary: 'window',
    trigger: 'click'
  });

  let copies = document.querySelectorAll(".copy")
  for (var i = 0; i < copies.length; i++) {
    copies[i].addEventListener("click", function() {
      var x = this.getAttribute("data")
      console.log(this);
      console.log('X =>', x)
      copyToClipboard(x);
    })
  }
</script>

<script type="text/babel">
  const formType = document.querySelector('#form-type');
  const tableHeading = document.querySelector('#table-head');
  const tableBody = document.querySelector('#table-body');
  const simpleForm = document.querySelector('#simple-form').innerHTML;
  const advanceForm = document.querySelector('#advance-form').innerHTML;
  document.querySelector('#advance-form').innerHTML = '';
  document.querySelector('#simple').addEventListener('click', () => {
    formType.innerHTML = simpleForm;
  });

  document.querySelector('#advance').addEventListener('click', () => {
    formType.innerHTML = advanceForm;
    const calendar = document.querySelector("#expiry_date");
    const tomorrow = new Date();
    tomorrow.setDate(tomorrow.getDate() + 1);
    calendar.setAttribute('min', tomorrow.toISOString().split('T')[0]);
  });
</script>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v4.0&appId=1060385767685912&autoLogAppEvents=1"></script>


<!--  Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-136940303-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];

  function gtag() {
    dataLayer.push(arguments);
  }
  gtag('js', new Date());

  gtag('config', 'UA-136940303-2');
</script>

<!-- Feedback form -->


</body>

</html>
