<!DOCTYPE html>
<html lang="en">
  <!-- Header -->

  <head>
    <title>
      Trim — Shorten your links, elegantly
    </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="active-menu" content="" />

    <!-- SEO META TAGS -->
    <!-- Primary Meta Tags -->
    <meta name="title" content="Trim — Shorten your links, elegantly" />
    <meta
      name="description"
      content="Short and sweet. Trim helps you shorten and share the links that matter to you. Our easy to use, no-frills shortener is fast & easy.
All for free :)"
    />
    <meta
      name="image"
      content="https://res.cloudinary.com/leankhan/image/upload/v1571590652/trim/banner2.png"
    />
    <meta
      name="keywords"
      content="URL, shortener, trim, elegant, links, fast"
    />
    <meta name="robots" content="index, follow" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="language" content="English" />

    <!-- Schema.org : Google -->
    <meta itemprop="name" content="Trim" />
    <meta
      itemprop="description"
      content="Short and sweet. Trim helps you shorten and share the links that matter to you. Our easy to use, no-frills shortener is fast & easy.
All for free :)"
    />
    <meta
      itemprop="image"
      content="https://res.cloudinary.com/leankhan/image/upload/v1571590652/trim/banner2.png"
    />
    <!-- Schema.org : Google -->

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://trim.ng" />
    <meta property="og:title" content="Trim — Shorten your links, elegantly" />
    <meta property="og:site_name" content="Trim" />
    <meta
      property="og:description"
      content="Short and sweet. Trim helps you shorten and share the links that matter to you. Our easy to use, no-frills shortener is fast & easy.
All for free :)"
    />
    <meta
      property="og:image"
      content="https://res.cloudinary.com/leankhan/image/upload/v1571590652/trim/banner2.png"
    />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="http://trim.ng" />
    <meta
      property="twitter:title"
      content="Trim — Shorten your links, elegantly"
    />
    <meta
      property="twitter:description"
      content="Short and sweet. Trim helps you shorten and share the links that matter to you. Our easy to use, no-frills shortener is fast & easy.
All for free :)"
    />
    <meta
      property="twitter:image"
      content="https://res.cloudinary.com/leankhan/image/upload/v1571590652/trim/banner2.png"
    />
    <!-- SEO META TAGS -->

    <!-- FAVICON -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Montserrat"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="https://res.cloudinary.com/leankhan/image/upload/v1570984769/trim/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="https://res.cloudinary.com/leankhan/image/upload/v1570984769/trim/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="https://res.cloudinary.com/leankhan/image/upload/v1570984769/trim/favicon-16x16.png"
    />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <!-- FAVICON -->
    <!-- BOOTSRAP -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <!-- FONT AWESOME -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />
    <!-- CUSTOM STYLESHEET -->
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/css/modal.css" rel="stylesheet" type="text/css" />
    <!-- JAVASCRIPT -->
    <!-- <script type="module" src="/js/index.js"></script> -->
    <script async src="https://app.appzi.io/bootstrap/bundle.js?token=GPqqk"></script>
  </head>

  <!-- Body -->

  <body>

